In [4]:
sp100 = """AAPL 	Apple Inc.
ABBV 	AbbVie Inc.
ABT 	Abbott Laboratories
ACN 	Accenture
ADBE 	Adobe Inc.
AIG 	American International Group
ALL 	Allstate
AMGN 	Amgen Inc.
AMT 	American Tower
AMZN 	Amazon.com
AXP 	American Express
BA 	Boeing Co.
BAC 	Bank of America Corp
BIIB 	Biogen
BK 	The Bank of New York Mellon
BKNG 	Booking Holdings
BLK 	BlackRock Inc
BMY 	Bristol-Myers Squibb
BRK.B 	Berkshire Hathaway
C 	Citigroup Inc
CAT 	Caterpillar Inc.
CHTR 	Charter Communications
CL 	Colgate-Palmolive
CMCSA 	Comcast Corp.
COF 	Capital One Financial Corp.
COP 	ConocoPhillips
COST 	Costco Wholesale Corp.
CRM 	salesforce.com
CSCO 	Cisco Systems
CVS 	CVS Health
CVX 	Chevron Corporation
DD 	DuPont de Nemours Inc
DHR 	Danaher Corporation
DIS 	The Walt Disney Company
DOW 	Dow Inc.
DUK 	Duke Energy
EMR 	Emerson Electric Co.
EXC 	Exelon
F 	Ford Motor Company
FB 	Facebook, Inc.
FDX 	FedEx
GD 	General Dynamics
GE 	General Electric
GILD 	Gilead Sciences
GM 	General Motors
GOOG 	Alphabet Inc. (Class C)
GOOGL 	Alphabet Inc. (Class A)
GS 	Goldman Sachs
HD 	The Home Depot
HON 	Honeywell
IBM 	International Business Machines
INTC 	Intel Corp.
JNJ 	Johnson & Johnson
JPM 	JPMorgan Chase & Co.
KHC 	Kraft Heinz
KMI 	Kinder Morgan
KO 	The Coca-Cola Company
LLY 	Eli Lilly and Company
LMT 	Lockheed Martin
LOW 	Lowe's
MA 	MasterCard Inc
MCD 	McDonald's Corp
MDLZ 	Mondelēz International
MDT 	Medtronic plc
MET 	MetLife Inc.
MMM 	3M Company
MO 	Altria Group
MRK 	Merck & Co.
MS 	Morgan Stanley
MSFT 	Microsoft
NEE 	NextEra Energy
NFLX 	Netflix
NKE 	Nike, Inc.
NVDA 	Nvidia Corporation
ORCL 	Oracle Corporation
PEP 	PepsiCo
PFE 	Pfizer Inc
PG 	Procter & Gamble
PM 	Philip Morris International
PYPL 	PayPal
QCOM 	Qualcomm
RTX 	Raytheon Technologies
SBUX 	Starbucks Corp.
SLB 	Schlumberger
SO 	Southern Company
SPG 	Simon Property Group
T 	AT&T Inc
TGT 	Target Corporation
TMO 	Thermo Fisher Scientific
TSLA 	Tesla, Inc.
TXN 	Texas Instruments
UNH 	UnitedHealth Group
UNP 	Union Pacific Corporation
UPS 	United Parcel Service
USB 	U.S. Bancorp
V 	Visa Inc.
VZ 	Verizon Communications
WBA 	Walgreens Boots Alliance
WFC 	Wells Fargo
WMT 	Walmart
XOM 	Exxon Mobil Corp. """
sp100.split("\n")
sp100dict = {}
for el in sp100.split("\n"):
    sp100dict[el.split(" \t")[0]] = el.split(" \t")[1]

In [6]:
import yfinance as yf
import pandas as pd
import os

def download_data(stocks, save=True, save_folder="stocks"):
    data = {}
    for stock in stock:
        data[stock] = yf.download(tickers=stock),
        period = "max"
    if save:
        for stock in data:
            data[stock][0].to_csv("{}/{}.csv".format(save_folder, stock))
    return data
        
def load_data(folder):
    data = {}
    stocks = os.listdir(folder)
    for stock in stocks:
        data[stock.split(".")[0]] = pd.read_csv("{}/{}".format(folder, stock))
    return data

def normalize_data(data, period):
    _data = data.copy()
    normalize_args = ["Open", "High", "Low", "Close", "Adj Close"]
    curr = 0
    for _ in range(int(np.ceil(data.shape[0]/period))):
        period_max = data.loc[curr:curr+period-1]["Close"].max()
        for i in range(curr, curr+period):
            #print(curr)
            try:
                for arg in normalize_args:
                    _data.at[i, arg] = _data.loc[i][arg] / period_max
                    #_data.set_value(arg, i, _data.loc[i][arg] / period_max)
                    #_data.xs(i)[arg] = _data.loc[i][arg] / period_max
                    #_data.loc[i][arg] = _data.loc[i][arg] / period_max
            except Exception as e:
                pass
        curr += period
    return _data

#def normalize_data(data):

In [9]:
normalize_data(data["AAPL"], 300)

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.798611,0.802083,0.798611,0.798611,0.628984,469033600
1,1980-12-15,0.760417,0.760417,0.756944,0.756944,0.596168,175884800
2,1980-12-16,0.704861,0.704861,0.701389,0.701389,0.552412,105728000
3,1980-12-17,0.718750,0.722222,0.718750,0.718750,0.566085,86441600
4,1980-12-18,0.739583,0.743056,0.739583,0.739583,0.582494,73449600
...,...,...,...,...,...,...,...
10108,2021-01-15,0.926008,0.936363,0.913209,0.914216,0.914216,111598500
10109,2021-01-19,0.918818,0.925505,0.912778,0.919177,0.919177,90757300
10110,2021-01-20,0.925146,0.952686,0.924355,0.949378,0.949378,104319500
10111,2021-01-21,0.962105,1.004314,0.960595,0.984181,0.984181,120529500
10112,2021-01-22,0.979938,1.005609,0.970878,1.000000,1.000000,113907200

In [7]:
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

data = load_data("stocks")

data_train, data_test = {}, {}

for el in data:
    data_train[el], data_test[el] = train_test_split(data[el], test_size=0.2, random_state=42)

#data_test

In [29]:
data["AAPL"]["Open"][0] = 0

<ipython-input-29-8d517202dc7c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["AAPL"]["Open"][0] = 0

In [10]:
data["AAPL"]

,Date,Open,High,Low,Close,Adj Close,Volume
0,1980-12-12,0.128348,0.128906,0.128348,0.128348,0.101087,469033600
1,1980-12-15,0.122210,0.122210,0.121652,0.121652,0.095813,175884800
2,1980-12-16,0.113281,0.113281,0.112723,0.112723,0.088780,105728000
3,1980-12-17,0.115513,0.116071,0.115513,0.115513,0.090978,86441600
4,1980-12-18,0.118862,0.119420,0.118862,0.118862,0.093615,73449600
...,...,...,...,...,...,...,...
10108,2021-01-15,128.779999,130.220001,127.000000,127.139999,127.139999,111598500
10109,2021-01-19,127.779999,128.710007,126.940002,127.830002,127.830002,90757300
10110,2021-01-20,128.660004,132.490005,128.550003,132.029999,132.029999,104319500
10111,2021-01-21,133.800003,139.669998,133.589996,136.869995,136.869995,120529500
10112,2021-01-22,136.279999,139.850006,135.020004,139.070007,139.070007,113907200